# this is where the proxy get gets mounted at the moment. 
# later it could be changed to the one set in 40-xcache-auth.cfg
setenv X509_USER_PROXY = /etc/proxy/x509up

# Authentication using GSI
# disabled at the moment

# xrootd.seclib /usr/lib64/libXrdSec.so
# sec.protparm gsi -vomsfun:/usr/lib64/libXrdSecgsiVOMS.so -vomsfunparms:certfmt=raw|vos=atlas|grps=/atlas
# sec.protocol /usr/lib64 gsi -ca:1 -crl:3

# The Authorization file for which users can do which actions:
# https://opensciencegrid.org/docs/data/xrootd/xrootd-authorization/
# acc.authdb /etc/xrootd/auth_db
# acc.authrefresh 600
# ofs.authorize

